# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Data files (large)
*.npy
*.npz
*.h5
*.hdf5
*.pkl
*.pickle
*.zip
*.pdb

# Model files
*.pt
*.pth
*.bin
*.safetensors
trained_model/
trained_model_test/
asd/


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

LLM/
Training/Data/
Data/*.csv
ASD_ Antigen Specific Antibody Database/